.modal#thankModal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title#modalMess We have received your message. Keep in touch!
            button.delete#deleteBut



