extends layout
block content
    #ResetPass
        h1 Forgot Password
        form(method='post')
            .field-wrap
                label Set a Password
                    span.req *
                input(type='password' name='password' required autocomplete='off')
            .field-wrap
                label Retype your Password
                    span.req *
                input(type='password' name='confirm' required autocomplete='off')
            button.button.button-block(type='submit') Reset Password