extends layout

block content
		header#fh5co-header.fh5co-cover(role='banner', style='background-image:url(images/img_bg_1.jpg);')
			.overlay
			.container
				.row
					.col-md-12.col-md-offset-0.text-center
						.display-t
							.display-tc.animate-box(data-animate-effect='fadeInUp')
								h1.mb30 Be part of our Collection
		#fh5co-contact
			.container
				.row
					.col-md-offset-3.col-md-6.animate-box
						h3 Thesis Information
						form(action='#', method='post')
							.row.form-group
								.col-md-12
									label(for='subject') Thesis Title
									input.form-control(type='text', placeholder='Your thesis title', required='')
									input.form-control(type='text', placeholder='Thesis subtitle')
							.row.form-group
								.col-md-12
									label(for='subject') Researchers
									input.form-control(type='text', placeholder='Researcher 1', required='')
									input.form-control(type='text', placeholder='Researcher 2')
									input.form-control(type='text', placeholder='Researcher 3')
									input.form-control(type='text', placeholder='Researcher 4')
									input.form-control(type='text', placeholder='Researcher 5')
							.row.form-group
								.col-md-12
									label(for='subject') Advisers
									input.form-control(type='text', placeholder="Adviser's name", required='')
									input.form-control(type='text', placeholder="Adviser's name", required='')
							.row.form-group
								.col-md-12
									label(for='subject') 1 Sentence Description
									input.form-control(type='text', placeholder='Thesis introduction', required='')
							.row.form-group
								.col-md-12
									label(for='message') Short Description
									textarea#message.form-control(name='message', cols='30', rows='10', placeholder='Say something about your thesis')
							.row.form-group
								.col-md-12
									label(for='subject') Links
									input.form-control(type='text', placeholder='Link for thesis pictures', required='')
									input.form-control(type='text', placeholder='Youtube thesis video link', required='')
							.form-group
								input.btn.btn-primary(type='submit', value='Submit')