extends layout

block content
			header#fh5co-header.fh5co-cover(role='banner', style='background-image:url(/images/img_bg_1.jpg);')
				.overlay
				.container
					.row
						.col-md-12.col-md-offset-0.text-center
							.display-t
								.display-tc.animate-box(data-animate-effect='fadeInUp')
									h1.mb30 Details
			#fh5co-about
				.container
					.row.row-pb-md
						.col-md-8.col-md-offset-2.text-center.fh5co-heading
							span Know us
							h2 #{entry.thesis}
							h3 Subtitle
							button Edit
							button Delete
					.row.row-pb-md.animate-box
						.col-md-6.col-md-push-6
							.desc
								h3 Entry History
								p
									| Added: 
									span date
									|  | Updated: 
									span date
								h3 Description
								p
									| Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?
								p
									| Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.
								h3 Links
								ul.fh5co-social-icons
									li
										a(href='#', target='_blank')
											i.icon-youtube
									li
										a(href='https://s24.postimg.org/4n4g07o9x/img_bg_1.jpg', target='_blank')
											i.icon-camera
						.col-md-6.col-md-pull-6
							img.img-responsive(src='https://s24.postimg.org/4n4g07o9x/img_bg_1.jpg', alt='about')
			#fh5co-team.fh5co-bg-section
				.container
					.row.animate-box
						.col-md-8.col-md-offset-2.text-center.fh5co-heading
							span Productive Team
							h2 Meet Our Team
					.row
						.col-md-offset-2.col-md-4.col-sm-6.animate-box(data-animate-effect='fadeIn')
							.fh5co-staff
								img(src='/images/person3.jpg', alt='')
								h3 Jean Smith
								strong.role Adviser
								ul.fh5co-social-icons
									li
										a(href='#')
											i.icon-facebook
									li
										a(href='#')
											i.icon-twitter
									li
										a(href='#')
											i.icon-dribbble
									li
										a(href='#')
											i.icon-github
						.col-md-4.col-sm-6.animate-box(data-animate-effect='fadeIn')
							.fh5co-staff
								img(src='/images/person3.jpg', alt='')
								h3 Hush Raven
								strong.role Adviser
								ul.fh5co-social-icons
									li
										a(href='#')
											i.icon-facebook
									li
										a(href='#')
											i.icon-twitter
									li
										a(href='#')
											i.icon-dribbble
									li
										a(href='#')
											i.icon-github
					// ROW
					.row
						.col-md-3.col-sm-6.animate-box(data-animate-effect='fadeIn')
							.fh5co-staff
								img(src='/images/person1.jpg', alt='')
								h3 Jean Smith
								strong.role Researcher
								ul.fh5co-social-icons
									li
										a(href='#')
											i.icon-facebook
									li
										a(href='#')
											i.icon-twitter
									li
										a(href='#')
											i.icon-dribbble
									li
										a(href='#')
											i.icon-github
						.col-md-3.col-sm-6.animate-box(data-animate-effect='fadeIn')
							.fh5co-staff
								img(src='/images/person2.jpg', alt='')
								h3 Hush Raven
								strong.role Researcher
								ul.fh5co-social-icons
									li
										a(href='#')
											i.icon-facebook
									li
										a(href='#')
											i.icon-twitter
									li
										a(href='#')
											i.icon-dribbble
									li
										a(href='#')
											i.icon-github
						.col-md-3.col-sm-6.animate-box(data-animate-effect='fadeIn')
							.fh5co-staff
								img(src='/images/person1.jpg', alt='')
								h3 Alex King
								strong.role Researcher
								ul.fh5co-social-icons
									li
										a(href='#')
											i.icon-facebook
									li
										a(href='#')
											i.icon-twitter
									li
										a(href='#')
											i.icon-dribbble
									li
										a(href='#')
											i.icon-github
						.col-md-3.col-sm-6.animate-box(data-animate-effect='fadeIn')
							.fh5co-staff
								img(src='/images/person2.jpg', alt='')
								h3 Alex King
								strong.role Researcher
								ul.fh5co-social-icons
									li
										a(href='#')
											i.icon-facebook
									li
										a(href='#')
											i.icon-twitter
									li
										a(href='#')
											i.icon-dribbble
									li
										a(href='#')
											i.icon-github