extends layout

block content
			header#fh5co-header.fh5co-cover(role='banner', style='background-image:url(images/img_bg_1.jpg);')
				.overlay
				.container
					.row
						.col-md-12.col-md-offset-0.text-center
							.display-t
								.display-tc.animate-box(data-animate-effect='fadeInUp')
									h1.mb30 Hell World.
									p
										a.btn.btn-primary(href='http://freehtml5.co/', target='_blank') Download
										|  or 
										a.link-watch.popup-vimeo(href='https://vimeo.com/channels/staffpicks/93951774') Watch Video
			#fh5co-services.fh5co-bg-section
				.container
					.row.row-pb-md
						.col-md-8.col-md-offset-2.text-center.animate-box(data-animate-effect='fadeInUp')
							.fh5co-heading
								span We're expert
								h2 What We Do
								p
									| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
			#fh5co-project
				.container
					.row.row-pb-md
						.col-md-8.col-md-offset-2.text-center.fh5co-heading.animate-box
							span Want Some Cool Stuff
							h2 Recent Entries
							p
								| Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
					.row
						.col-md-4.col-sm-4.animate-box(data-animate-effect='fadeInUp')
							.fh5co-post
								span.fh5co-date Sep. 12th
								h3
									a(href='#') Web Design for the Future
								p
									| Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
						.col-md-4.col-sm-4.animate-box(data-animate-effect='fadeInUp')
							.fh5co-post
								span.fh5co-date Sep. 23rd
								h3
									a(href='#') Web Design for the Future
								p
									| Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
						.col-md-4.col-sm-4.animate-box(data-animate-effect='fadeInUp')
							.fh5co-post
								span.fh5co-date Sep. 24th
								h3
									a(href='#') Web Design for the Future
								p
									| Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
			