doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Thesis It — #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon' type='image/png' sizes='32x32' href='/images/thesisit.ico')
		// Facebook and Twitter integration
		meta(property='og:title', content='')
		meta(property='og:image', content='')
		meta(property='og:url', content='')
		meta(property='og:site_name', content='')
		meta(property='og:description', content='')
		meta(name='twitter:title', content='')
		meta(name='twitter:image', content='')
		meta(name='twitter:url', content='')
		meta(name='twitter:card', content='')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700', rel='stylesheet', type='text/css')
		// Animate.css
		link(rel='stylesheet', href='/stylesheets/animate.css')
		// Icomoon Icon Fonts
		link(rel='stylesheet', href='/stylesheets/icomoon.css')
		// Bootstrap
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		// Magnific Popup
		link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
		// Theme style
		link(rel='stylesheet', href='/stylesheets/style.css')
		// FORM WIZARD and TAGS INPUT
		link(rel='stylesheet', href='/stylesheets/formWizard/jquery-steps.css')
		link(rel='stylesheet', href='/stylesheets/tagsInput/bootstrap-tagsinput.css')
		// Modernizr JS
		script(src='/javascripts/modernizr-2.6.2.min.js')
		// FOR IE9 below
		//if lt IE 9
			script(src='/javascripts/respond.min.js')

		// FILESTACK API
		script(type="text/javascript" src="//api.filestackapi.com/filestack.js")
		//script(src="//static.filestackapi.com/v3/filestack.js")
	body
		.fh5co-loader
		.modal.fade#myModal
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
						h4.modal-title File Viewer
					.modal-body
						#filepicker(type="filepicker-preview" style="width:100%; height:600px" data-fp-url="https://www.filestackapi.com/api/file/")
		#page
			nav.fh5co-nav(role='navigation')
				.container
					.row
						.col-xs-12.text-center
							#fh5co-logo
								a(href='/')
									| Thesis It
									span .
							//#name
							//  | Hi #{user.username}!
						.col-xs-12.text-center.menu-1
							ul
								li(class=(title === "Home" ? 'active' : ''))
									a(href='/') Home
								li(class=(title === "Collection" ? 'active' : ''))
									a(href='/collection') Collection
								li(class=(title === "Join" ? 'active' : ''))
									a(href='/collection/new') Add Entry
								li.has-dropdown
									a(href='#') Account
									ul.dropdown
										if user.type === "admin"
											li
												a(href='/admin') Admin Dashboard
										li
											a(href='/auth/logout') Log Out


			block content

		block footer
			footer#fh5co-footer(role='contentinfo')
				.container
					.row.copyright
						.col-md-12.text-center
							p
								small.block © 2017 Thesis It. All Rights Reserved.
							p
								ul.fh5co-social-icons
									li
										a(href='https://coen3463-m1t5.herokuapp.com' target="_blank")
											i.icon-code
									li
										a(href='https://coen3463-m2t5.herokuapp.com' target='_blank')
											i.icon-music
		.gototop.js-top
			a.js-gotop(href='#')
				i.icon-arrow-up

		// jQuery
		script(src='/javascripts/jquery-2.2.3.min.js')
		// jQuery Easing
		script(src='/javascripts/jquery.easing.1.3.js')
		// Bootstrap
		script(src='/javascripts/bootstrap.min.js')
		// Waypoints
		script(src='/javascripts/jquery.waypoints.min.js')
		// countTo
		script(src='/javascripts/jquery.countTo.js')
		// Magnific Popup
		script(src='/javascripts/jquery.magnific-popup.min.js')
		script(src='/javascripts/magnific-popup-options.js')
		// Main
		script(src='/javascripts/main.js')
		// API
		script(src='/javascripts/api/api.js')
		
		block scripts
			
